# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#SuperLU_5.0/*
#!SuperLU_5.0/CBLAS
#SuperLU_5.0/CBLAS/*
#!SuperLU_5.0/CBLAS/CMakeLists.txt

*
!*/
!CMakeLists.txt
!Makefile